.loading {
    margin-top: 110px;
}

.content {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    margin-top: 110px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        font-size: 20px;
    }

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    text-align: center;
}

.btnGame {
    background-color: white !important;
    border: none !important;
    color: #3377FF !important;
    font-weight: bold;
    padding: 3px 30px !important;
    text-decoration: none !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    margin-left: 12px !important;
    font-size: 20px;
}

.inputGame {
    background-color: white !important;
    border: none !important;
    color: #3377FF !important;
    font-weight: bold;
    padding: 3px 30px !important;
    text-decoration: none !important;
    margin: 4px 2px !important;
    margin-left: 12px !important;
    width: 350px !important;
    font-size: 18px;
}