.divInfoMatch {
    position: relative;
    float: left;
    margin: 90px 0 0 4%;
    border: 1px solid #64D0FF;
    border-radius: 10px;
    margin-left: 4%;
    height: 16em;
    width: 40%;
    padding: 20px;
}

.divInfoUser {
    position: relative;
    float: left;
    margin: 90px 0 0 4%;
    border: 1px solid #FF0000;
    border-radius: 10px;
    margin-left: 4%;
    height: 16em;
    width: 40%;
    padding: 20px;
}

.iconInfoMatch {
    color: #64D0FF;
    font-size: 150px;
}


.iconInfoUser {
    color: #FF0000;
    font-size: 150px;
}

.textInfo {
    font-family: cursive;
    font-size: 32px;
}